@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    flex-direction: column;
    background-color: hsl(240, 83%, 98%);
}
body,
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: 100vh;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 55vh;
    z-index: 1000;
    background-image: url('../images/pattern-quotes.svg');
    background-repeat: no-repeat;
}

.content p {
    line-height: 22px;
    color:  hsl(240, 26%, 34%);
}

.img-container {
    width: 45vh; 
    position: relative; 
    padding: 2rem;
    background-image: url('../images/pattern-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 7rem;
}

.img-container img{
    display: block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 0.3rem;
}

.name {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.name-text {
    font-size: 0.8rem;
    font-weight: 600;
}
.job{
    color: hsl(0, 5%, 74%) !important;
    font-size: 0.8rem;
}
.controls {
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: space-between;
    position: absolute;
    bottom: 2rem;
    background-color: #fff;
}
.controls img{
    display: block;
    width: 16px;
    padding: 0.2rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 0;
}

.back {
    transform: rotate(-180deg);
}

.controls img:hover {
    cursor: pointer;
}

.attribution {
    font-size: 0.8rem;
}